:root {
  --scrollbar-width: 6px;
}

html.dark {
  --c-bg: #111;
  --c-bg-semi: rgba(17,17,17,0.8);
  --c-bg-secondary: #222;
  --c-text: #f0f6fc;
  --c-text-light: #f0f6fc;
  --c-text-lighter: #ffffff;

  --c-divider-light: rgba(200, 200, 200, .12);
  --c-divider-dark: rgba(200, 200, 200, .48);
  --code-bg-color: #191919;
  --code-inline-bg-color: rgba(255, 255, 255, .04);
  --code-highlight: rgba(0, 0, 0, .66);

  --c-disabled-bg: #333;
  --c-disabled-fg: #aaa;
}